# This file contains a template for the environment variables used throughout this project.
# Create a copy of this file and name it `.env` before filling out the values.

# The port running the Express.js server.
PORT=3000

# The current environment of the Node.js application. (development / production) 
NODE_ENV=

# The connection URL of MongoDB database.
DATABASE_URL=

# OpenAI API Key
OPENAI_API_KEY=

# Secret to sign the access token with.
JWT_SECRET=

# Brokers defined for Kafka
KAFKA_BROKERS=

# The URL of the frontend.
FRONTEND_URL=

# Twilio API Keys
TWILIO_SID=
TWILIO_TOKEN=
TWILIO_VERIFY_SERVICE_ID=

# email for verification
MAIL_USERNAME=
MAIL_PASS=

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=